.buttons-fields
{
  display:grid;
  grid-template-columns: repeat(1,1fr);
  gap:2px;
}

.bt {
  border: none;
  cursor: pointer;
  transition: all 0.3s ;
  padding:0px 10px;
  text-decoration: none;
  background-color: var(--cinza-escuro);
  color: white;
  font-weight: bold;
  box-shadow: 1px 1px 3px black;
}

.bt:hover{
  background-color: var(--cinza-escuro);
  color: white;
}
