<div class="itens-table-container">
  <div class="empty-records" *ngIf="tableData.length === 0">
    <h1>Ainda não há registros salvos</h1>
  </div>
  <ng-container *ngIf="tableData.length !== 0">
    <div class="header-wrapper">
      <h4>{{model}} Cadastrados</h4>
      <div class="mb-3 search-wrapper">
        <label for="searchFormControl" class="form-label">Pesquisar:</label>
        <input type="text" class="form-control form-control-sm" id="searchFormControl" [(ngModel)] ="searchedValue" (keyup)="filteredTableData()">
      </div>
    </div>


      <div class="table-responsive shadow p-3 mb-5 bg-white rounded">
        <table class="table table-hover table-sm">
          <thead>
            <tr>
              <th scope="col" class="table-header ">Nº</th>
              <th scope="col" class="table-header ">CPF/CNPJ</th>
              <th scope="col" class="table-header ">Nome/Razão Social</th>
              <th scope="col" class="table-header ">Total de Contratos</th>
              <th scope="col" class="table-header ">Total de Endereços</th>
              <th scope="col" class="table-header ">Total de Fiscais</th>
              <th scope="col" class="table-header ">Opções</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let object of filteredTableDataList; let i = index ">
              <td>{{i + 1 }}</td>
              <td>{{object.cpfCnpj | cpfCnpj}}</td>
              <td>{{object.nameCompanyName}}</td>
              <td>{{object.contracts.length}}</td>
              <td>{{object.addresses.length}}</td>
              <td>{{object.supervisors.length}}</td>
              <td>
                <div class="options-buttons">
                  <button mat-stroked-button type="button" matTooltip="Exibir Contratos" name="contratos" id="contratos" class="bt bt-op " [routerLink]="['/cliente',object.cpfCnpj,'contratos']"><i class="fas fa-file-signature"></i></button>
                  <button mat-stroked-button type="button" matTooltip="Exibir Enderecos" name="enderecos" id="enderecos" class="bt bt-op " [routerLink]="['/cliente',object.cpfCnpj,'enderecos']" ><i class="fas fa-map-marker-alt"></i></button>
                  <button mat-stroked-button type="button" matTooltip="Exibir Fiscais" name="fiscais" id="fiscais" class="bt bt-op " [routerLink]="['/cliente',object.cpfCnpj,'fiscais']"><i class="fas fa-user"></i></button>
                  <button mat-stroked-button type="button" matTooltip="Editar Cliente" name="edit" id="edit" class="bt bt-edit " (click)="sendObjectToEdit(object)" [routerLink]="['./'+fatherPathPrefix, object.cpfCnpj]" [queryParams]="{edit:true,dialog:true}"><i class="fas fa-edit"></i></button>
                  <button mat-stroked-button type="button" matTooltip="Deletar Cliente" name="delete" id="delete" class="bt bt-delete " (click)="openDialog(object)"><i class="fas fa-times"></i></button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </ng-container>


  </div>

<!--
    <div class="itens-table-container-wrapper">
      <div class="itens-table-container-item" *ngFor="let object of filteredTableDataList">
          <div class="object-key-values">
              <label class="key-header"><b>CPF/CNPJ</b></label>
              <b class="key-value">{{object.cpfCnpj | cpfCnpj}}</b>
          </div>
          <div class="object-key-values">
              <label class="key-header"><b>Nome/Razão Social</b></label>
              <b class="key-value">{{object.nameCompanyName}}</b>
          </div>
          <div class="object-key-values">
              <label class="key-header"><b>Total de Contratos</b></label>
              <b class="key-value">{{object.contracts.length}}</b>
          </div>
          <div class="object-key-values">
              <label class="key-header"><b>Total de Endereços</b></label>
              <b class="key-value">{{object.addresses.length}}</b>
          </div>
          <div class="object-key-values" >
              <label class="key-header"><b>Total de Fiscais</b></label>
              <b class="key-value">{{object.supervisors.length}}</b>
          </div>
          <div class="object-options">
            <label class="key-header"><b>Opções</b></label>
            <div class="options-buttons">
              <button mat-stroked-button type="button" matTooltip="Exibir Contratos" name="contratos" id="contratos" class="bt bt-op " [routerLink]="['/cliente',object.cpfCnpj,'contratos']"><i class="fas fa-file-signature"></i></button>
              <button mat-stroked-button type="button" matTooltip="Exibir Enderecos" name="enderecos" id="enderecos" class="bt bt-op " [routerLink]="['/cliente',object.cpfCnpj,'enderecos']" ><i class="fas fa-map-marker-alt"></i></button>
              <button mat-stroked-button type="button" matTooltip="Exibir Fiscais" name="fiscais" id="fiscais" class="bt bt-op " [routerLink]="['/cliente',object.cpfCnpj,'fiscais']"><i class="fas fa-user"></i></button>
              <button mat-stroked-button type="button" matTooltip="Editar Cliente" name="edit" id="edit" class="bt bt-edit " (click)="sendObjectToEdit(object)" [routerLink]="['./'+fatherPathPrefix, object.cpfCnpj]" [queryParams]="{edit:true,dialog:true}"><i class="fas fa-edit"></i></button>
              <button mat-stroked-button type="button" matTooltip="Deletar Cliente" name="delete" id="delete" class="bt bt-delete " (click)="openDialog(object)"><i class="fas fa-times"></i></button>
            </div>
        </div>
      </div>
  </div> -->

