.itens-table-container h4{
  margin-top: 20px;
  font-size: 1.5em;
  font-weight: bold;
}


.search-wrapper label{
  font-weight: bold;
  color:var(--cinza-escuro);
}

.search-wrapper input{
  width: 100%;
}

.empty-records h1{
  color:red;
  text-align: center;

}

.itens-table-container-item{
  margin-top: 10px;
  border: 1px solid var(--cinza);
}

.options-buttons{
  display:flex;
  flex-direction: row;
  gap:5px;

}

.bordered-table{
  border: 1px solid #fefefe;
}


.options-buttons .bt-edit:hover{
  background-color: #ffdd00;

}

.options-buttons .bt-delete:hover{
  background-color: rgb(255, 77, 77);
}



@media screen and (min-width:976px){

  .search-wrapper{
    display: flex;
    gap:5px;

  }
  .search-wrapper input{
    width: 50%;
  }

}
