.customer-info{
  display: flex;
  flex-direction: column;
  padding:5px;
  padding-bottom: 30px;
}

.costumer-detail{
  display: flex;
  flex-direction: column;

}

.return-button{
  display:inline-block;
  max-width: 30px;
}

.return-button:hover{
  color: var(--verde);
  cursor: pointer;
}

