<div class="container">

  <app-customer-info
    [cpfCnpj]="selectedCustomer.cpfCnpj"
    [nameCompanyName]="selectedCustomer.nameCompanyName"
    [item]="title"
    [itemSize]="selectedCustomer.contracts.length"
  ></app-customer-info>

  <app-crud-menu [linksListForOperations]="pathToOperations"></app-crud-menu>
  <router-outlet></router-outlet>

  <app-itens-table
  [model]="title"
  [tableHeaders]="headerForTables"
  [fatherPathPrefix]="pathPrefix"
  [service]="contractService"
  [customerId]="selectedCustomer.cpfCnpj"
  ></app-itens-table>

</div>


