<div class="container">

  <div class="dashboard-cards">

    <div class="dashboard-cards-item">
      <i class="fas fa-user"></i>
      <span>{{customerRegisteredLength }}</span>
      <h5>Quantidade de clientes</h5>
    </div>

    <div class="dashboard-cards-item">
      <i class="fas fa-user"></i>
      <span>{{contractRegisteredLength}}</span>
      <h5>Quantidade de Contratos</h5>
    </div>

    <div class="dashboard-cards-item">
      <i class="fas fa-user"></i>
      <span>{{1000}}</span>
      <h5>Total em R$ de contratos</h5>
    </div>

    <div class="dashboard-cards-item">
      <i class="fas fa-user"></i>
      <span>{{residueRegisteredLength}}</span>
      <h5>Quantidade de Resíduos Cadastrados</h5>
    </div>

    <div class="dashboard-cards-item">
      <i class="fas fa-user"></i>
      <span>{{equipmentRegisteredLength}}</span>
      <h5>Quantidade de Equipamentos Cadastrados</h5>
    </div>

  </div>

</div>
