.container
{
  padding: 20px;
}
.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:5px;

}

.dashboard-cards-item{
  background-color: var(--cinza-escuro);
  border-radius: 5px ;
  color: white;
  padding:15px;
  text-align: center;
  font-size: 1.2em;
  align-items: center;
  justify-content: center;
}

.dashboard-cards-item span, .dashboard-cards-item i {
  font-size: 1.5em;
}

.dashboard-cards-item h5 {
  font-size: .8em;
  color: var(--azul-claro);
  font-weight: bold;
}


@media screen and (min-width:576px){
  .dashboard-cards {
    grid-template-columns: repeat(2,1fr);

  }
  .dashboard-cards-item{
    width:150px;
  }
}

@media screen and (min-width:717px){

  .dashboard-cards {
   display: flex;

  }
}
