<div class="itens-table-container">

  <ng-container >
    <div class="table-responsive shadow-sm p-3 mb-5 bg-white rounded">
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th scope="col" class="table-header ">Resíduo</th>
            <th scope="col" class="table-header ">Equipamento</th>
            <th scope="col" class="table-header ">Quantidade</th>
            <th scope="col" class="table-header ">Valor R$</th>
            <th scope="col" class="table-header ">Opções</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let object of filteredTableDataList; let i = index">
            <td>{{object.residue.type}}</td>
            <td>{{object.equipment.equipmentName}}</td>
            <td>{{object.qtdOfResidue}}</td>
            <td>{{object.itemValue}}</td>
            <td>
              <div class="options-buttons">
                <button mat-stroked-button type="button" matTooltip="Deletar Item" name="delete" id="delete" class="bt bt-delete " (click)="openDialog(object)"><i class="fas fa-times"></i></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>


      <!-- <div class="itens-table-container-wrapper">
        <div class="itens-table-container-item" *ngFor="let object of filteredTableDataList; let i = index">
          <div class="object-key-values">
                <label class="key-header"><b>Resíduo</b></label>
                <b class="key-value">{{object.residue.type}}</b>
          </div>
          <div class="object-key-values">
              <label class="key-header"><b>Equipamento</b></label>
              <b class="key-value">{{object.equipment.equipmentName}}</b>
          </div>

          <div class="object-key-values">
            <label class="key-header"><b>Quantidade em M³</b></label>
            <b class="key-value">{{object.qtdOfResidue}}</b>
          </div>

          <div class="object-key-values">
            <label class="key-header"><b>Valor em R$</b></label>
            <b class="key-value">{{object.itemValue}}</b>
          </div>

          <div class="object-options">
              <label class="key-header"><b>Opções</b></label>
              <div class="options-buttons">
                <button mat-stroked-button type="button" matTooltip="Deletar Item" name="delete" id="delete" class="bt bt-delete " (click)="openDialog(object)"><i class="fas fa-times"></i></button>
              </div>
          </div>
        </div>
      </div> -->
  </ng-container>
</div>

