<div class="container-table">
  <h4>{{model}} Cadastrados</h4>
  <table class="table table-striped">

    <tr>
      <th *ngFor="let header of tableHeaders">{{header}}</th>
    </tr>

    <tr *ngFor="let object of tableData">
        <ng-container *ngFor="let value of transformObjectInArrayOfValues(object)">
            <td>{{value}}</td>
          </ng-container>
          <td>
            <button type="button" name="delete" id="delete" class="btn btn-primary" (click)="deleteItem(object)"><i class="fas fa-times"></i></button>
            <a type="button" name="edit" id="edit" class="btn btn-warning" [routerLink]="['./'+fatherPathPrefix, object.id]" [queryParams]="{edit:true}"><i class="fas fa-edit"></i></a>
          </td>
    </tr>

  </table>

</div>
