h4{
  margin-top: 20px;
  font-size: 1.5em;
  font-weight: bold;
}

 .container-table table{
  width: 100%;
  overflow-x: scroll;
}

.container-table th, tr{
  padding:8px;
  text-align: center;
  border: 1px solid var(--cinza);
}

.container-table th {
  background-color: var(--cinza-escuro);
  color: white;

}
.container-table tr {
  height: 50px;

}

.container-table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

button{
  color: black;
  width:30px;
}
button {
  margin-left: 5px;
}
