<div class="login-body">
  <div class="login-container">
    <div class="login-header">
      <h3>Login</h3>
    </div>
    <form (ngSubmit)="logar()" #meuForm="ngForm">
      <div class="form-field">
        <mat-form-field appearance="outline">
          <mat-label>Usuario</mat-label>
          <input matInput type="text" name="username" ngModel class="form-input">
        </mat-form-field>
      </div>
      <div class="form-field">
        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input matInput type="password" name="password"  ngModel class="form-input">
        </mat-form-field>
      </div>
      <div class="form-bottom">
        <button type="submit">Logar</button>
        <a href="#">Cadastrar Novo Usuário</a>
      </div>

    </form>
  </div>
</div>


