<div class="container">
  <div class="logged-user">
    <img src="">
    <h3>user name</h3>
    <h4>user role</h4>
  </div>
  <div class="row"></div>
  <div class="navegation">
      <ul>
        <a [routerLink]="'#'"><li>Home</li></a>
        <a [routerLink]="'#'"><li>Clientes</li></a>
        <a [routerLink]="'#'"><li>Enderecos</li></a>
        <a [routerLink]="'#'"><li>Contratos</li></a>
        <a [routerLink]="'#'"><li>Fiscais</li></a>
        <a [routerLink]="'#'"><li>Residuos</li></a>
        <a [routerLink]="'#'"><li>Equipamentos</li></a>
      </ul>
  </div>
  <div class="row"></div>
  <div class="developer-info">
    Desenvolvido Por: <span>Victor Vilar</span>
    <div class="developer-info-social-media">
      <a href="https://github.com/victor-vilar"><span>GitHub</span></a>
      <a href="https://linkedin.com.br/victorvilar"><span>LinkedIn</span></a>
    </div>
  </div>
</div>
