<div class="itens-table-container">

  <div class="empty-records" *ngIf="tableData.length === 0">
    <h1>Ainda não há {{model.toLowerCase()}} cadastrados</h1>
  </div>


  <ng-container >
      <div class="header-wrapper">
        <h4>{{model}} Adicionados</h4>
        <div class="search-wrapper">
          <label for="">Pesquisar:</label>
          <input type="text" [(ngModel)] ="searchedValue">
        </div>
      </div>

      <div class="itens-table-container-wrapper">
        <div class="itens-table-container-item" *ngFor="let object of filteredTableDataList; let i = index">
          <div class="object-key-values">
                <label class="key-header"><b>Resíduo</b></label>
                <b class="key-value">{{object.residue.type}}</b>
          </div>
          <div class="object-key-values">
              <label class="key-header"><b>Equipamento</b></label>
              <b class="key-value">{{object.equipment.equipmentName}}</b>
          </div>

          <div class="object-key-values">
            <label class="key-header"><b>Quantidade em M³</b></label>
            <b class="key-value">{{object.qtdOfResidue}}</b>
          </div>

          <div class="object-key-values">
            <label class="key-header"><b>Valor em R$</b></label>
            <b class="key-value">{{object.itemValue}}</b>
          </div>

          <div class="object-options">
              <label class="key-header"><b>Opções</b></label>
              <div class="options-buttons">
                <button type="button" title="deletar" name="delete" id="delete" class="bt bt-delete " (click)="openDialog(object)"><i class="fas fa-times"></i></button>
              </div>
          </div>
        </div>
      </div>
  </ng-container>
</div>

