table{
  width: 100%;
}

th{
  font-weight: bolder;

}

.options-table-buttons{
  display: flex;
  gap: 5px;
}


.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.mat-column-No {
  width:4%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
