.options-buttons{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 3px;
}

.options-buttons a {
  text-align:center;
  background-color: var(--cinza-escuro);
  font-weight: bold;
  border-radius: 20px ;
  color: white;
  padding:15px;
  text-align: center;
  font-size: 1.2em;
  align-items: center;
  justify-content: center;
}

h4{
  margin-top: 20px;
  font-size: 1.5em;
  font-weight: bold;
}



.equipaments-table th, tr{
  padding:8px;
  text-align: center;
  border: 1px solid var(--cinza);
}

.equipaments-table th {
  background-color: var(--cinza-escuro);
  color: white;

}
.equipaments-table tr {
  height: 50px;

}
