<div class="equipament-detail-container">
  <div class="detail-component-header">
    <h4 class="equipament-detail-title">{{crudOperation}} de Equipamentos</h4>
    <a (click)="destroy()" class="close-button">X</a>
  </div>
  <form (ngSubmit)="save()" #singInForm = "ngForm" class="equipament-detail-form" >
    <input type="text" name="id" placeholder="Id"  ngModel >
    <input type="text" required placeholder="Equipamento" name="equipamentName" ngModel>
    <input type="text" required placeholder="Volume" name="equipamentSize" ngModel>
    <button type="submit">Salvar</button>
    <button type="button" (click)="cleanForm()">Limpar Campos</button>
  </form>
</div>
