.equipament-detail-container{
  max-width: 100%;
}

.detail-component-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 1.5em;
  font-weight: bold;

}

.detail-component-header h4{
  font-weight: bold;
}

.detail-component-header a{

  cursor: pointer;
  transition: all 0.3s ;
  padding:0px 10px;
}
.detail-component-header a:hover{
  background-color: var(--cinza-escuro);
  color: white;
}




.equipament-detail-form{
  width: 100%;
  display: flex;
  flex-direction: column;

}

.equipament-detail-form input, button {
  padding:10px;
  width: 100%;
  margin-top: 5px;

}

.equipament-detail-form button{
  background-color: var(--cinza-escuro);
  color: white;
  font-weight: bold;
  border: none;
  box-shadow: 1px 1px 3px black;
}

.equipament-detail-form button:hover{

}

