

<div class="detail-container">
  <div class="detail-component-header">
    <h4 class="detail-title">{{crudOperation}} de Clientes</h4>
    <a (click)="destroy()" class="close-button">X</a>
  </div>
  <form (ngSubmit)="save()" #singInForm = "ngForm" class="detail-form" >

    <input type="text" required placeholder="CPF/CNPJ" name="cpfCnpj" ngModel
    [ngClass]="{'invalidinput': invalidCpfCnpj}">

    <div *ngIf="invalidCpfCnpj" class="alert">{{invalidCpfCnpjMessage}}</div>

    <input type="text" required placeholder="Nome/Razão Social" name="razaoSocial" ngModel>
    <button type="submit">Salvar</button>
    <button type="button" (click)="cleanForm()">Limpar Campos</button>
  </form>
</div>
