
<div class="container-fuild">

  <div class="row g-0">

    <!-- menu-button -->
    <div class="menu-button-container col">
      <div>
        <h3>Empresa</h3>
        <button class="btn toggle-button" (click)="toggling()">
          <i class="fas fa-bars"></i>
        </button>
      </div>
    </div>

    <!-- menu left -->
    <div class= "menu-small col-12 col-sm-4 col-md-3 col-xl-2" #menu>
        <app-menu></app-menu>
    </div>

    <!-- main -->
    <div class="main col-12 col-sm-7 col-md-10 ">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

