
/* mobile first */
.container-fuild{
  position: relative;
  min-height: 100vh;
  background-color: #f2f2f2;
}

.full-screem-page{
  min-height: 100vh;
  min-width: 100vw;
}

.menu-button-container{
  background-color: var(--cinza-escuro);
  height: 60px;

  top:0;
  z-index:1000;
  border-bottom: 1px solid white;
}
.menu-button-container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;



}

.menu-button-container nav span{
  color: white;
}

.toggle-button{
  background: none;
  color:var(--verde);
  font-weight: bolder;
  font-size: 1.33em;
}
.menu{
  max-height: 1800px;
  background-color: var(--cinza-escuro);
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.5s ease-in;
  margin-top: 50px;
}
.menu-small{
  max-height: 0;
  background-color: var(--cinza-escuro);
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.5s ease-in;
  overflow:hidden;
  margin-top: 50px;
}
.main{
margin-top: 10px;
box-sizing: border-box;
padding-bottom: 100px;
}

.footer{
  position: fixed;
  bottom: 0;
  background-color: var(--cinza-escuro);
  color:white;
  width: 100%;
}

@media screen and (min-width:576px){
  .menu-button-container{
    display:none;
  }
  .menu-small{
    min-height: 100vh;
    position: fixed;
  }
  .menu, .menu-small{
    margin-top: 0;

  }
  .main{
    margin-left: 200px;
    margin-top: 10px;
  }
  app-footer{
    display: none;
  }
}

@media screen and (min-width:640px){
  .main{
    margin-left: 250px;
  }
}
@media screen and (min-width:1024px){
  .main{
    margin-left: 400px;
  }
}


