.container-fluid{
  /* width:100vw; */

}

.row{
  display: flex;
  flex-direction: row;
}
.menu{
  /* width:15vw; */
  height: 100vh;
  background-color: var(--cinza-escuro);

}

.main{
  padding:5px;
  width:calc();
}


