.wrapper{
  padding:5px;
  /* border: 1px solid black; */
}


.close-button{
  cursor: pointer;
  transition: all 0.3s ;
  padding:0px 10px;
  text-decoration: none;
  color:black;
}

.close-button:hover{
  background-color: var(--cinza-escuro);
  color: white;
}

.detail-component-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 1.5em;
  font-weight: bold;
}
.alert{
  color:Red;
}
.basic-contract-info{
  display: grid;
}
.wrapper h4 {
  margin-bottom: 25px;
  font-weight: bold;
}
.residue-item-options-item{
  display: grid;
}
.residue-item-options-item label, .contract-field label {
  font-weight: bolder;
}
.basic-contract-info input,.alert, .basic-contract-info select, .residue-item-options-item input,.residue-item-options-item select  {
  padding:10px;
  width: 100%;
  height: 50px;
  margin-bottom: 5px;
}

.alert {
  font-size: .8rem;
}

.residue-item-options input[type=button],.residue-item-options input[type=submit]{
  background-color: var(--cinza-escuro);
  color: white;
  font-weight: bold;
  border: none;
  box-shadow: 1px 1px 3px black;
  padding:10px;
  width: 100%;
}

@media screen and (min-width:1200px){
  .wrapper{
    border: 1px solid black;
  }
  .basic-contract-info{
    margin-bottom: 20px;
  }
  .basic-contract-info, .residue-item-options-item-body{
    display: flex;
    flex-direction: row;
    gap:5px;
  }
  .basic-contract-info, .residue-item-options{
    border-bottom: 1px solid var(--cinza);
    padding-bottom: 10px;
  }
  .basic-contract-info input, .residue-item-options input[type=text], .residue-item-options select, .alert{
    width:200px ;
  }


  .contract-field, .residue-item-options-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
  }

  .residue-item-options input[type=button],.residue-item-options input[type=submit]{
    width: 300px;
  }
}

