<div class="wrapper">
  <mat-dialog-content>
  <div class="detail-component-header">
    <h4 class="detail-title">{{crudOperation}} de Contratos</h4>
    <a (click)="destroy()" class="close-button">X</a>
  </div>

  <form (ngSubmit)="save()" #form="ngForm">
    <h5>Dados do Contrato</h5>
    <div class="basic-contract-info">
      <div class="contract-field">
        <mat-form-field appearance="outline">
          <mat-label>Número</mat-label>
          <input matInput type="text"  placeholder="Número" id="contractNumber" name="contractNumber" ngModel required>
          <mat-error *ngIf="this.form.controls['contractNumber'].value === '' && (this.form.controls['contractNumber'].dirty || this.form.controls['contractNumber'].touched)"
          class="alert">O contrato deve possuir um número</mat-error>
        </mat-form-field>
      </div>
      <div class="contract-field">
        <mat-form-field appearance="outline">
          <mat-label>Data de Início</mat-label>
          <input matInput [matDatepicker]="beginDatePicker" name="beginDate" ngModel required>
          <mat-datepicker-toggle matSuffix [for]="beginDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #beginDatePicker></mat-datepicker>
          <mat-error *ngIf="this.form.controls['beginDate'].value === '' && (this.form.controls['beginDate'].dirty || this.form.controls['beginDate'].touched)"
          class="alert">O contrato deve possuir uma data de início</mat-error>
        </mat-form-field>
      </div>

      <div class="contract-field">
        <mat-form-field appearance="outline">
          <mat-label>Data de Encerramento</mat-label>
          <input matInput [matDatepicker]="endDatePicker" name="endDate" ngModel required [matDatepickerFilter]="endDateFilter">
          <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker></mat-datepicker>
          <mat-error *ngIf="this.form.controls['endDate'].value === '' && (this.form.controls['endDate'].dirty || this.form.controls['endDate'].touched)"
          class="alert">O contrato deve possuir uma data de encerramento</mat-error>
          <mat-error *ngIf="isInvalidContractDates"
          class="alert">A data de encerramento não pode ser igual ou anterior a data de início</mat-error>
        </mat-form-field>
      </div>
    </div>

    <h5>Resíduos</h5>
    <div class="residues-field">
      <mat-expansion-panel>
        <mat-expansion-panel-header class="expansion">
          <mat-panel-title>
            <div class="contract-partial-information">
              <label>Adicionados: {{itemContractList.length}}</label><br>
            </div>
          </mat-panel-title>
          <mat-panel-description>
            <label>{{totalValueOfContract | currency :'BRL'}}</label>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-itens-table-item-contract
          [tableHeaders]="headerForTables"
          [tableData]="itemContractList"
          [model]="'itens'"
          (deleteItemEmitter)= "deleteItemFromList($event)">
        </app-itens-table-item-contract>
      </mat-expansion-panel>

      <div class="residue-item-options">
        <div class="residue-item-options-item-body">
            <div class="residue-item-options-item">
              <mat-form-field appearance="outline">
                <mat-label for="residue">Resíduo:</mat-label>
                <mat-select name="residue" id="residue" ngModel >
                  <mat-option value="{{residue.id}}" *ngFor="let residue of residuesList">{{residue.type}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="residue-item-options-item">
              <mat-form-field appearance="outline">
                <mat-label for="equipment">Equipamento:</mat-label>
                  <mat-select name="equipment" id="equipment"  ngModel >
                    <mat-option value="{{equipment.id}}" *ngFor="let equipment of equipmentsList">{{equipment.equipmentName}}</mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
            <div class="residue-item-options-item">
              <mat-form-field appearance="outline">
                <mat-label>Quantidade em M³:</mat-label>
                <input matInput type="text" name="quantity" ngModel >
              </mat-form-field>
            </div>
            <div class="residue-item-options-item">
              <mat-form-field appearance="outline">
                <mat-label>Valor em Reais:</mat-label>
                <input matInput type="currency" name="itemValue" ngModel >
              </mat-form-field>
            </div>
          </div>
          <input type="button" value="Adicionar residuo" (click)="addItemToContract()"><br><br>
      </div>
    </div>
  </form>



  <input class="save-contract" type="submit" (click)="save()" value="Salvar Contrato">
</mat-dialog-content>
</div>

