<div class="wrapper">

  <form (ngSubmit)="addNewContract()" #form="ngForm">
    <h4>Cadastro de Contratos</h4>
    <div class="basic-contract-info">
      <div class="contract-field">
        <label>Número</label>
        <input type="text" placeholder="Número" name="contractNumber" ngModel>
      </div>
      <div class="contract-field">
        <label>Data de Início</label>
        <input type="date" placeholder="Data de Início" name="beginDate" ngModel>
      </div>
        <div class="contract-field">
        <label>Data de Encerramento</label>
        <input type="date" placeholder="Data de Fim" name="endDate" ngModel>
      </div>
    </div>

    <div class="residue-item-options">
      <div class="residue-item-options-header">
        <h4>Adicionar Resíduos</h4>
      </div>
      <div class="residue-item-options-item-body">
          <div class="residue-item-options-item">
              <label for="residue">Resíduo:</label>
              <select name="residue" id="residue" ngModel required>
                <option value="{{residue.id}}" *ngFor="let residue of residuesList">{{residue.type}}</option>
              </select>
          </div>
          <div class="residue-item-options-item">
              <label for="equipament">Equipamento:</label>
              <select name="equipament" id="equipament"  ngModel required>
                <option value="{{equipament.id}}" *ngFor="let equipament of equipamentsList">{{equipament.equipamentName}}</option>
              </select>
          </div>
          <div class="residue-item-options-item" >
              <label>Quantidade em M³:</label>
              <input type="text" name="quantity" ngModel required>
          </div>
          <div class="residue-item-options-item">
            <label>Valor em Reais:</label>
            <input type="currency" name="itemValue" ngModel required>
          </div>
        </div>
        <button (click)="addItemToContract()" [disabled]="!form.valid">Adicionar Resíduo</button>
    </div>

  </form>

  <app-itens-table-item-contract
    [tableHeaders]="headerForTables"
    [tableData]="itemContractList"
    [model]="'itens'"
    (deleteItemEmitter)= "deleteItemFromList($event)">
  </app-itens-table-item-contract>
</div>

