/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  list-style: none;
}

.activated{
  background-color: #515F78;
}

:root
{
  --cinza:#515F78;
  --cinza-escuro:rgb(38, 41, 39);
  --azul:#0341AB;
  --azul-claro:#1BC9DE;
  --rosa:#E6866C;
  --vermelho:#AB0F03;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
