
/* CONFIGURATION */
.container {
  padding:10px 0px;
  color: #FFF;
  height: 100%;
}

.division{
  border: 1px solid rgba(255, 255, 255, 0.529);
  margin: 10px 0px;
}
/* ==================================== */

/* LOGGED USER */
.logged-user{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logged-user img {
  width: 20%;height: 20%;
  border-radius: 50%;
  border:1px solid #FFF;
}
/* ================================= */

/* NAVEGATION MENU */
.navegation{
  padding-left: 0;

}

.navegation div a {
  color: #FFF;
  text-decoration: none;
  padding: 10px 25px;
  font-size: 1.2em;
  transition:  color 0.2s ease-in-out;
  display: flex;
  align-items: center;
  border-radius:5px;
}

.navegation div a:hover {
  color: var(--azul-claro);
  background-color:rgba(255, 255, 255, 0.28);
}

.navegation div a i {
  margin-left: 5px;
}

.navegation div a span{
  margin-left: 5px;
}

.navegation div a span:hover{

}
/* ================================= */




/* DEVELOPER INFORMATION */
.developer-info{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.developer-info-social-media{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.developer-info-social-card i{
  font-size: 1.2em;
  margin-right: 15px;
}

.developer-info-social-card a{
  color: #FFF;
  text-decoration: none;
  font-size: 1.5em;
  text-align: center;

}
.developer-info-social-card a:hover{
  color: var(--azul-claro);
}

/* =============================== */
