<div class="container">
  <div class="logged-user">
    <img src="assets/img-teste.jpg">
    <h3>user name</h3>
    <h4>user role</h4>
  </div>
  <div class="division"></div>
  <div class="navegation">
      <div>
        <a [routerLink]="'dashboard'" (click)="closeMenuFromFather()"><i class="fas fa-home"></i><span>Dashboard</span></a>
        <a [routerLink]="'clientes'" (click)="closeMenuFromFather()"><i class="fas fa-user"></i><span>Clientes</span></a>
        <a [routerLink]="'contratos'" (click)="closeMenuFromFather()"><i class="fas fa-file-signature"></i><span>Contratos</span></a>
        <a [routerLink]="'residuos'" (click)="closeMenuFromFather()"><i class="fas fa-recycle"></i><span>Resíduos</span></a>
        <a [routerLink]="'equipamentos'" (click)="closeMenuFromFather()"><i class="fas fa-trash"></i><span>Equipamentos</span></a>
      </div>

  </div>
  <div class="division"></div>
  <div class="developer-info">
    Desenvolvido Por: <span><b>Victor Vilar</b></span>
    <div class="developer-info-social-media">

      <div class="developer-info-social-card">
        <a href="https://github.com/victor-vilar"><i class="fab fa-github"></i><span>GitHub</span></a>
      </div>
      <div class="developer-info-social-card">
        <a href="https://linkedin.com.br/victorvilar"><i class="fab fa-linkedin"></i><span>LinkedIn</span></a>
      </div>

    </div>
  </div>
</div>
