.itens-table-container h4{
  margin-top: 20px;
  font-size: 1.5em;
  font-weight: bold;
}

.search-wrapper{
  display: grid;
  grid-template-columns: repeat(3,1fr);

}
.search-wrapper label{
  font-weight: bold;
  color:var(--cinza-escuro);
  grid-area: 1/1;
}
.search-wrapper input{
  grid-area: 1/2 span;
  width: 100%;
}


.itens-table-container-item{
  margin-top: 10px;
  border: 1px solid var(--cinza);
}

.object-key-values, .object-options{
  display: grid;
  grid-template-columns: repeat(2,1fr);

}

.key-header, .key-value, .options-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding:5px;
  border-bottom: 1px solid var(--cinza);
  text-align: center;
  min-height: 50px;
  border-collapse: collapse;

}
.options-buttons:last-child{
  border: none;
}

.key-header {
  background-color: var(--cinza-escuro);
  color: white;

}



.options-buttons{
  display:flex;
  flex-direction: row;
  padding:10px;
  gap:5px;
  align-items: center;
  justify-content: center;
}

.options-buttons .bt{

  min-width:25px;
  min-height: 25px;
  border: 1px solid;
  border-radius: 5px;
  color:white;
  box-shadow: 1px 1px 3px black;
  display: flex;
  align-items: center;
  justify-content: center;
}





.options-buttons .bt-edit{
  background-color: #ffdd00;
  border-color: rgb(196, 172, 12);
  color: black;

}

.options-buttons .bt-delete{
  background-color: red;
  border-color: rgb(175, 20, 20);
}

.options-buttons .bt-op{
  background-color: rgb(29, 176, 68);
  border-color: rgb(23, 139, 54);
}

.options-buttons .bt-edit:hover{
  background-color:rgb(196, 172, 12);
  cursor: pointer;
}
.options-buttons .bt-delete:hover{
  background-color: rgb(175, 20, 20);
}
.options-buttons .bt-op:hover{
  background-color: rgb(23, 139, 54);
}


@media screen and (min-width:976px){

  .itens-table-container-item{
    border: none;
    display: grid;
    /* DESCOBRIR COMO COLOCAR O TAMANHO VARIAVEL  */
    grid-template-columns: repeat(6,1fr);
    border-bottom: 1px solid black;
  }
  .itens-table-container-item:not(:first-child) .object-key-values .key-header {
    display: none;
  }

  .itens-table-container-item:not(:first-child) .object-options .key-header{
    display: none;
  }

  .object-key-values, .object-options{
    display: block;

  }

  .key-header, .key-value, .options-buttons {
    border:none;
  }

  .search-wrapper{
    display: flex;
    gap:5px;

  }
  .search-wrapper input{
    width: 50%;
  }

}


