<div class="itens-table-container">
  <h4>{{model}} Cadastrados</h4>
  <table class="table">
    <tr>
      <th *ngFor="let header of tableHeaders">{{header}}</th>
    </tr>
    <tr *ngFor="let object of tableData">
            <td>{{object.cpfCnpj | cpfCnpj}}</td>
            <td>{{object.nameCompanyName}}</td>
            <td>{{object.contracts.length}}</td>
            <td>{{object.addresses.length}}</td>
            <td>{{object.supervisors.length}}</td>
          <td class="options-buttons">
            <button type="button" title="Exibir Contratos" name="contratos" id="contratos" class="bt bt-op " [routerLink]="['cliente',object.cpfCnpj,'contratos']"><i class="fas fa-file-signature"></i></button>
            <button type="button" title="Exibir Enderecos" name="enderecos" id="enderecos" class="bt bt-op " [routerLink]="['cliente',object.cpfCnpj,'enderecos']" ><i class="fas fa-map-marker-alt"></i></button>
            <button type="button" title="Exibir Fiscais" name="fiscais" id="fiscais" class="bt bt-op " [routerLink]="['cliente',object.cpfCnpj,'fiscais']"><i class="fas fa-user"></i></button>
            <button type="button" title="Editar" name="edit" id="edit" class="bt bt-edit " [routerLink]="['./'+fatherPathPrefix, object.cpfCnpj]" [queryParams]="{edit:true}"><i class="fas fa-edit"></i></button>
            <button type="button" title="Deletar" name="delete" id="delete" class="bt bt-delete " (click)="deleteItem(object)"><i class="fas fa-times"></i></button>
          </td>
    </tr>

  </table>

</div>
